In [2]:
# ===================================================================
# Complete Pandas Practice Code â€“ Comprehensive Learning Guide (2025)
# Run this in Jupyter Notebook for best learning experience
# ===================================================================

#%pip install pandas numpy
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

print("Pandas version:", pd.__version__)
print("="*70)

Pandas version: 2.3.3
======================================================================

In [2]:
# --------------------- 1. Series Creation ---------------------
print("1. SERIES CREATION")
print("="*70)

# From list
s1 = pd.Series([10, 20, 30, 40, 50])
print("From list:\n", s1)

# From dict with custom index
s2 = pd.Series({'a': 100, 'b': 200, 'c': 300})
print("\nFrom dict:\n", s2)

# With custom index
s3 = pd.Series([1, 2, 3, 4], index=['w', 'x', 'y', 'z'])
print("\nWith custom index:\n", s3)

# From numpy array
s4 = pd.Series(np.random.randint(0, 100, 5), name='Random Numbers')
print("\nFrom numpy array:\n", s4)

print("\n" + "="*70)

1. SERIES CREATION
======================================================================
From list:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

From dict:
 a    100
b    200
c    300
dtype: int64

With custom index:
 w    1
x    2
y    3
z    4
dtype: int64

From numpy array:
 0    22
1    38
2    62
3    72
4    50
Name: Random Numbers, dtype: int64

======================================================================

In [15]:
# --------------------- 2. DataFrame Creation ---------------------
print("2. DATAFRAME CREATION")
print("="*70)

# From dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Pune'],
    'Salary': [50000, 60000, 75000, 55000, 68000]
}
df = pd.DataFrame(data)
print("From dictionary:\n", df)

# From list of dicts
data_list = [
    {'product': 'Laptop', 'price': 45000, 'quantity': 5},
    {'product': 'Mouse', 'price': 500, 'quantity': 20},
    {'product': 'Keyboard', 'price': 1500, 'quantity': 15}
]
df2 = pd.DataFrame(data_list)
print("\nFrom list of dicts:\n", df2)

# From numpy array
df3 = pd.DataFrame(
    np.random.randint(0, 100, (4, 3)),
    columns=['A', 'B', 'C'],
    index=['Row1', 'Row2', 'Row3', 'Row4']
)
print("\nFrom numpy array:\n", df3)

print("\n" + "="*70)

2. DATAFRAME CREATION
======================================================================
From dictionary:
       Name  Age       City  Salary
0    Alice   25     Mumbai   50000
1      Bob   30      Delhi   60000
2  Charlie   35  Bangalore   75000
3    David   28    Chennai   55000
4      Eve   32       Pune   68000

From list of dicts:
     product  price  quantity
0    Laptop  45000         5
1     Mouse    500        20
2  Keyboard   1500        15

From numpy array:
        A   B   C
Row1  75  54  80
Row2  49  50  53
Row3  50  55  30
Row4  57  57  14

======================================================================

In [ ]:
# --------------------- 3. DataFrame Attributes & Info ---------------------
print("3. DATAFRAME ATTRIBUTES & INFO")
print("="*70)

print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Index:", df.index.tolist())
print("Data types:\n", df.dtypes)
print("\nInfo:")
df.info()

print("\nFirst 3 rows:\n", df.head(3))
print("\nLast 2 rows:\n", df.tail(2))

print("\nBasic statistics:\n", df.describe())

print("\n" + "="*70)

In [ ]:
# --------------------- 4. Selecting Data ---------------------
print("4. SELECTING DATA")
print("="*70)

# Select single column (returns Series)
print("Select 'Name' column:\n", df['Name'])

# Select multiple columns (returns DataFrame)
print("\nSelect multiple columns:\n", df[['Name', 'Age']])

# Select rows by index
print("\nFirst 2 rows:\n", df[0:2])

# loc - label based selection
print("\nUsing loc[0]:\n", df.loc[0])
print("\nUsing loc[0:2, 'Name':'City']:\n", df.loc[0:2, 'Name':'City'])

# iloc - integer position based selection
print("\nUsing iloc[0]:\n", df.iloc[0])
print("\nUsing iloc[0:2, 0:2]:\n", df.iloc[0:2, 0:2])

# Boolean indexing
print("\nAge > 28:\n", df[df['Age'] > 28])
print("\nSalary >= 60000:\n", df[df['Salary'] >= 60000])

# Multiple conditions
print("\nAge > 28 AND Salary > 60000:\n", df[(df['Age'] > 28) & (df['Salary'] > 60000)])

print("\n" + "="*70)

In [ ]:
# --------------------- 5. Adding & Modifying Data ---------------------
print("5. ADDING & MODIFYING DATA")
print("="*70)

# Add new column
df['Department'] = ['IT', 'HR', 'IT', 'Finance', 'HR']
print("After adding Department:\n", df)

# Add calculated column
df['Annual_Salary'] = df['Salary'] * 12
print("\nAfter adding Annual_Salary:\n", df[['Name', 'Salary', 'Annual_Salary']])

# Modify existing column
df['Age'] = df['Age'] + 1
print("\nAfter incrementing Age:\n", df[['Name', 'Age']])

# Add new row using loc
df.loc[5] = ['Frank', 34, 'Hyderabad', 72000, 'IT', 864000]
print("\nAfter adding new row:\n", df)

# Rename columns
df_renamed = df.rename(columns={'Name': 'Employee_Name', 'Age': 'Employee_Age'})
print("\nRenamed columns:\n", df_renamed.columns.tolist())

print("\n" + "="*70)

In [ ]:
# --------------------- 6. Deleting Data ---------------------
print("6. DELETING DATA")
print("="*70)

# Drop column
df_drop_col = df.drop('Annual_Salary', axis=1)
print("After dropping Annual_Salary:\n", df_drop_col.columns.tolist())

# Drop row by index
df_drop_row = df.drop(5)
print("\nAfter dropping row 5:\n", df_drop_row)

# Drop multiple rows
df_drop_multiple = df.drop([0, 1])
print("\nAfter dropping rows 0 and 1:\n", df_drop_multiple)

# Drop rows with condition
df_filtered = df[df['Age'] < 60]  # Keep only ages < 60
print("\nFiltered (Age < 60):\n", df_filtered)

print("\n" + "="*70)

In [ ]:
# --------------------- 7. Sorting Data ---------------------
print("7. SORTING DATA")
print("="*70)

# Sort by single column
print("Sort by Age (ascending):\n", df.sort_values('Age'))

print("\nSort by Salary (descending):\n", df.sort_values('Salary', ascending=False))

# Sort by multiple columns
print("\nSort by Department then Age:\n", df.sort_values(['Department', 'Age']))

# Sort by index
df_sorted_index = df.sort_index(ascending=False)
print("\nSort by index (descending):\n", df_sorted_index)

print("\n" + "="*70)

In [ ]:
# --------------------- 8. Handling Missing Data ---------------------
print("8. HANDLING MISSING DATA")
print("="*70)

# Create DataFrame with missing values
data_missing = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [10, np.nan, 30, 40, np.nan],
    'C': [100, 200, 300, np.nan, 500]
}
df_missing = pd.DataFrame(data_missing)
print("DataFrame with missing values:\n", df_missing)

# Check for missing values
print("\nIs null:\n", df_missing.isnull())
print("\nSum of null values:\n", df_missing.isnull().sum())

# Drop rows with any missing value
print("\nDrop rows with any NaN:\n", df_missing.dropna())

# Drop columns with any missing value
print("\nDrop columns with any NaN:\n", df_missing.dropna(axis=1))

# Fill missing values with a constant
print("\nFill NaN with 0:\n", df_missing.fillna(0))

# Fill with mean
print("\nFill NaN with column mean:\n", df_missing.fillna(df_missing.mean()))

# Forward fill
print("\nForward fill:\n", df_missing.fillna(method='ffill'))

# Backward fill
print("\nBackward fill:\n", df_missing.fillna(method='bfill'))

print("\n" + "="*70)

In [ ]:
# --------------------- 9. GroupBy Operations ---------------------
print("9. GROUPBY OPERATIONS")
print("="*70)

# Group by Department
grouped = df.groupby('Department')

print("Group by Department - Mean Salary:")
print(grouped['Salary'].mean())

print("\nGroup by Department - Sum of Salary:")
print(grouped['Salary'].sum())

print("\nGroup by Department - Count:")
print(grouped.size())

print("\nGroup by Department - Multiple aggregations:")
print(grouped['Salary'].agg(['mean', 'sum', 'count', 'min', 'max']))

# Group by multiple columns
df_copy = df.copy()
df_copy['Experience'] = [2, 5, 8, 3, 6, 10]
print("\nGroup by Department and Experience level:")
df_copy['Exp_Level'] = df_copy['Experience'].apply(lambda x: 'Junior' if x < 5 else 'Senior')
print(df_copy.groupby(['Department', 'Exp_Level'])['Salary'].mean())

print("\n" + "="*70)

In [ ]:
# --------------------- 10. Merging & Joining ---------------------
print("10. MERGING & JOINING")
print("="*70)

# Create sample DataFrames
df_employees = pd.DataFrame({
    'emp_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept_id': [10, 20, 10, 30]
})

df_departments = pd.DataFrame({
    'dept_id': [10, 20, 30, 40],
    'dept_name': ['IT', 'HR', 'Finance', 'Marketing']
})

print("Employees:\n", df_employees)
print("\nDepartments:\n", df_departments)

# Inner join (default)
print("\nInner join:")
print(pd.merge(df_employees, df_departments, on='dept_id'))

# Left join
print("\nLeft join:")
print(pd.merge(df_employees, df_departments, on='dept_id', how='left'))

# Right join
print("\nRight join:")
print(pd.merge(df_employees, df_departments, on='dept_id', how='right'))

# Outer join
print("\nOuter join:")
print(pd.merge(df_employees, df_departments, on='dept_id', how='outer'))

# Concatenate DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

print("\nConcatenate vertically:")
print(pd.concat([df1, df2], ignore_index=True))

print("\nConcatenate horizontally:")
print(pd.concat([df1, df2], axis=1))

print("\n" + "="*70)

In [ ]:
# --------------------- 11. Pivot Tables & Cross Tabulation ---------------------
print("11. PIVOT TABLES & CROSS TABULATION")
print("="*70)

# Create sales data
sales_data = pd.DataFrame({
    'Date': pd.date_range('2025-01-01', periods=12, freq='M'),
    'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Region': ['North', 'North', 'South', 'South', 'North', 'North', 
               'South', 'South', 'North', 'North', 'South', 'South'],
    'Sales': [100, 150, 120, 180, 110, 160, 130, 190, 105, 155, 125, 185]
})

print("Sales data:\n", sales_data.head())

# Create pivot table
pivot = pd.pivot_table(
    sales_data, 
    values='Sales', 
    index='Product', 
    columns='Region', 
    aggfunc='sum'
)
print("\nPivot table (Sales by Product and Region):\n", pivot)

# Pivot with multiple aggregations
pivot_multi = pd.pivot_table(
    sales_data,
    values='Sales',
    index='Product',
    columns='Region',
    aggfunc=['sum', 'mean', 'count']
)
print("\nPivot with multiple aggregations:\n", pivot_multi)

# Cross tabulation
ct = pd.crosstab(sales_data['Product'], sales_data['Region'])
print("\nCross tabulation:\n", ct)

print("\n" + "="*70)

In [ ]:
# --------------------- 12. String Operations ---------------------
print("12. STRING OPERATIONS")
print("="*70)

# Create DataFrame with string data
df_str = pd.DataFrame({
    'Name': ['  Alice  ', 'BOB', 'charlie', '  DAVID  '],
    'Email': ['alice@example.com', 'bob@TEST.com', 'charlie@example.COM', 'david@example.com']
})

print("Original:\n", df_str)

# String methods
print("\nLowercase:\n", df_str['Name'].str.lower())
print("\nUppercase:\n", df_str['Name'].str.upper())
print("\nCapitalize:\n", df_str['Name'].str.capitalize())
print("\nStrip whitespace:\n", df_str['Name'].str.strip())

# Check if contains
print("\nContains 'example':\n", df_str['Email'].str.contains('example'))

# Replace
print("\nReplace 'example' with 'test':\n", df_str['Email'].str.replace('example', 'test'))

# Split
print("\nSplit email by '@':\n", df_str['Email'].str.split('@', expand=True))

# Length
print("\nEmail length:\n", df_str['Email'].str.len())

# Startswith / Endswith
print("\nStarts with 'alice':\n", df_str['Email'].str.startswith('alice'))
print("\nEnds with '.com':\n", df_str['Email'].str.endswith('.com'))

print("\n" + "="*70)

In [ ]:
# --------------------- 13. DateTime Operations ---------------------
print("13. DATETIME OPERATIONS")
print("="*70)

# Create date range
dates = pd.date_range('2025-01-01', periods=10, freq='D')
df_dates = pd.DataFrame({
    'Date': dates,
    'Value': np.random.randint(10, 100, 10)
})

print("DataFrame with dates:\n", df_dates)

# Extract date components
df_dates['Year'] = df_dates['Date'].dt.year
df_dates['Month'] = df_dates['Date'].dt.month
df_dates['Day'] = df_dates['Date'].dt.day
df_dates['DayName'] = df_dates['Date'].dt.day_name()
df_dates['Week'] = df_dates['Date'].dt.isocalendar().week

print("\nWith extracted components:\n", df_dates)

# Date arithmetic
df_dates['Next_Week'] = df_dates['Date'] + pd.Timedelta(days=7)
df_dates['Days_Since_Start'] = (df_dates['Date'] - df_dates['Date'].min()).dt.days

print("\nWith date arithmetic:\n", df_dates[['Date', 'Next_Week', 'Days_Since_Start']])

# Resample (requires Date as index)
df_dates_indexed = df_dates.set_index('Date')
print("\nMonthly sum (resample):\n", df_dates_indexed['Value'].resample('M').sum())

print("\n" + "="*70)

In [ ]:
# --------------------- 14. Apply, Map, ApplyMap ---------------------
print("14. APPLY, MAP, APPLYMAP")
print("="*70)

# Create sample data
df_apply = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
})

print("Original:\n", df_apply)

# Apply function to each column
print("\nSquare each value (apply):\n", df_apply.apply(lambda x: x ** 2))

# Apply to specific column
print("\nDouble column A:\n", df_apply['A'].apply(lambda x: x * 2))

# Apply with custom function
def categorize(value):
    if value < 3:
        return 'Low'
    elif value < 5:
        return 'Medium'
    else:
        return 'High'

df_apply['Category'] = df_apply['A'].apply(categorize)
print("\nWith category:\n", df_apply)

# Map (for Series)
mapping = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
df_apply['A_Text'] = df_apply['A'].map(mapping)
print("\nWith mapping:\n", df_apply)

# Applymap (deprecated, use map instead)
# For element-wise operations on entire DataFrame
print("\nElement-wise operation:\n", df_apply[['A', 'B', 'C']].map(lambda x: x * 0.1))

print("\n" + "="*70)

In [ ]:
# --------------------- 15. Reading & Writing Files ---------------------
print("15. READING & WRITING FILES")
print("="*70)

# Sample data to save
df_file = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Score': [85, 92, 78, 95, 88]
})

# Write to CSV
df_file.to_csv('/tmp/sample_data.csv', index=False)
print("âœ“ Saved to CSV")

# Read from CSV
df_read = pd.read_csv('/tmp/sample_data.csv')
print("Read from CSV:\n", df_read)

# Write to Excel
df_file.to_excel('/tmp/sample_data.xlsx', index=False, sheet_name='Scores')
print("\nâœ“ Saved to Excel")

# Read from Excel
df_excel = pd.read_excel('/tmp/sample_data.xlsx', sheet_name='Scores')
print("Read from Excel:\n", df_excel)

# Write to JSON
df_file.to_json('/tmp/sample_data.json', orient='records', indent=2)
print("\nâœ“ Saved to JSON")

# Read from JSON
df_json = pd.read_json('/tmp/sample_data.json')
print("Read from JSON:\n", df_json)

# Clipboard operations (copy to clipboard)
# df_file.to_clipboard(index=False)
# df_from_clipboard = pd.read_clipboard()

print("\n" + "="*70)

In [ ]:
# --------------------- 16. Advanced Indexing & MultiIndex ---------------------
print("16. ADVANCED INDEXING & MULTIINDEX")
print("="*70)

# Create MultiIndex DataFrame
arrays = [
    ['A', 'A', 'B', 'B', 'C', 'C'],
    [1, 2, 1, 2, 1, 2]
]
index = pd.MultiIndex.from_arrays(arrays, names=['Category', 'Level'])
df_multi = pd.DataFrame({
    'Value1': np.random.randint(10, 100, 6),
    'Value2': np.random.randint(100, 200, 6)
}, index=index)

print("MultiIndex DataFrame:\n", df_multi)

# Access by level
print("\nCategory 'A':\n", df_multi.loc['A'])

# Access specific combination
print("\nCategory 'B', Level 2:\n", df_multi.loc[('B', 2)])

# Cross section
print("\nLevel 1 across all categories:\n", df_multi.xs(1, level='Level'))

# Stack and Unstack
print("\nUnstacked:\n", df_multi.unstack())

print("\n" + "="*70)

In [ ]:
# --------------------- 17. Window Functions (Rolling, Expanding) ---------------------
print("17. WINDOW FUNCTIONS")
print("="*70)

# Create time series data
df_window = pd.DataFrame({
    'Date': pd.date_range('2025-01-01', periods=10),
    'Sales': [100, 120, 90, 150, 130, 140, 160, 110, 170, 180]
})

print("Original data:\n", df_window)

# Rolling window (moving average)
df_window['Rolling_Mean_3'] = df_window['Sales'].rolling(window=3).mean()
print("\nWith 3-day rolling mean:\n", df_window)

# Rolling sum
df_window['Rolling_Sum_3'] = df_window['Sales'].rolling(window=3).sum()
print("\nWith 3-day rolling sum:\n", df_window[['Date', 'Sales', 'Rolling_Sum_3']])

# Expanding window (cumulative)
df_window['Expanding_Mean'] = df_window['Sales'].expanding().mean()
df_window['Cumulative_Sum'] = df_window['Sales'].cumsum()
print("\nWith expanding mean and cumsum:\n", df_window[['Date', 'Sales', 'Expanding_Mean', 'Cumulative_Sum']])

# Exponential moving average
df_window['EMA'] = df_window['Sales'].ewm(span=3).mean()
print("\nWith exponential moving average:\n", df_window[['Date', 'Sales', 'EMA']])

print("\n" + "="*70)

In [ ]:
# --------------------- 18. Data Transformation & Reshaping ---------------------
print("18. DATA TRANSFORMATION & RESHAPING")
print("="*70)

# Melt - wide to long format
df_wide = pd.DataFrame({
    'ID': [1, 2, 3],
    'Jan': [100, 200, 300],
    'Feb': [110, 210, 310],
    'Mar': [120, 220, 320]
})

print("Wide format:\n", df_wide)

df_long = df_wide.melt(id_vars=['ID'], var_name='Month', value_name='Sales')
print("\nLong format (melted):\n", df_long)

# Pivot - long to wide format
df_pivot = df_long.pivot(index='ID', columns='Month', values='Sales')
print("\nPivoted back to wide:\n", df_pivot)

# Transpose
print("\nTransposed:\n", df_wide.T)

# Get dummies (one-hot encoding)
df_category = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Red', 'Blue']
})
df_dummies = pd.get_dummies(df_category, prefix='Color')
print("\nOne-hot encoded:\n", df_dummies)

print("\n" + "="*70)

In [ ]:
# --------------------- 19. Performance & Memory Optimization ---------------------
print("19. PERFORMANCE & MEMORY OPTIMIZATION")
print("="*70)

# Create large DataFrame
df_large = pd.DataFrame({
    'A': np.random.randint(0, 100, 1000),
    'B': np.random.randn(1000),
    'C': ['Category_' + str(i % 10) for i in range(1000)]
})

print("Memory usage before optimization:")
print(df_large.memory_usage(deep=True))

# Optimize numeric types
df_large['A'] = pd.to_numeric(df_large['A'], downcast='integer')
df_large['B'] = pd.to_numeric(df_large['B'], downcast='float')

# Convert to category
df_large['C'] = df_large['C'].astype('category')

print("\nMemory usage after optimization:")
print(df_large.memory_usage(deep=True))

# Use categorical data
df_cat = pd.DataFrame({
    'Status': ['Active', 'Inactive', 'Active', 'Pending'] * 250
})

print("\nBefore categorical:")
print(f"Memory: {df_cat.memory_usage(deep=True).sum()} bytes")

df_cat['Status'] = df_cat['Status'].astype('category')

print("\nAfter categorical:")
print(f"Memory: {df_cat.memory_usage(deep=True).sum()} bytes")

print("\n" + "="*70)

In [ ]:
# --------------------- 20. Advanced Tips & Tricks ---------------------
print("20. ADVANCED TIPS & TRICKS")
print("="*70)

# Query method
df_query = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000]
})

print("Using query:")
print(df_query.query('Age > 28 and Salary > 55000'))

# Pipe for chaining
result = (df_query
    .pipe(lambda x: x[x['Age'] > 25])
    .pipe(lambda x: x.assign(Bonus=x['Salary'] * 0.1))
    .pipe(lambda x: x.sort_values('Salary', ascending=False))
)
print("\nUsing pipe:\n", result)

# Assign for multiple columns
df_assigned = df_query.assign(
    Age_Group=lambda x: x['Age'].apply(lambda age: 'Young' if age < 30 else 'Senior'),
    Tax=lambda x: x['Salary'] * 0.2
)
print("\nUsing assign:\n", df_assigned)

# Sample random rows
print("\nRandom sample (2 rows):\n", df_query.sample(2))

# Nlargest and Nsmallest
print("\nTop 2 salaries:\n", df_query.nlargest(2, 'Salary'))
print("\nBottom 2 salaries:\n", df_query.nsmallest(2, 'Salary'))

# Value counts
df_counts = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A']
})
print("\nValue counts:\n", df_counts['Category'].value_counts())

# Duplicates
df_dup = pd.DataFrame({
    'A': [1, 2, 2, 3, 3, 3],
    'B': [10, 20, 20, 30, 30, 40]
})
print("\nDuplicate rows:\n", df_dup[df_dup.duplicated()])
print("\nDrop duplicates:\n", df_dup.drop_duplicates())

print("\n" + "="*70)
print("ðŸŽ‰ CONGRATULATIONS! You've completed comprehensive Pandas training!")
print("Practice these examples regularly to master data manipulation with Pandas!")
print("="*70)